/* ==========================================================================
   Made by Diego Moreira
   ========================================================================== */

.bg-top{
    background: #ccc;
}

.bg-middle{
    background: #e8e8e8;
}

.bg-bottom{
    background: #eee;   
}

.bg-green{
    background: #0f0;
}

.bg-red{
    background: #f00;
}

.bg-blue{
    background: #00f;
}

main{
    height: 500px;
}

footer{
    height: 300px;
}

.cont-logo{
    height: 50px;
}

.nav-site{
    height: 50px
}

/* --- */

.wrapper-carousel{
    position: relative;
    display: inline-block;
}

.bt-left{
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 50px;
    background: #b1b1b1;
    top: 75px;
    left: -30px;
    cursor: pointer;
}

.bt-right{
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 50px;
    background: #b1b1b1;
    top: 75px;
    right: -30px;
    cursor: pointer;
}

.content-carousel{
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #f00;
}

.carousel{
    position: absolute;
    min-width: 300px;
    height: 200px;
    padding: 0;
    margin: 0;
    list-style: none;
    left: 0;
}

.item{
    width: 300px;
    height: 200px;
    float: left;
}