*
	font-family: arial

.text-center
	text-align: center

.border-separator
	border-right: 1px solid #ccc

.reset-list
	padding: 0
	list-style: none

.inline-list
	text-decoration: none
	list-style: none
	padding: 0
	li
		float: left

.mainTitle
	font-size: 28px	
	padding: 15px 0
	margin: 0 auto
	text-transform: uppercase
	color: #111
	text-align: center

hr
	&.divisor-one
		border: 0
		height: 1px
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))

.sectionBlock
	text-align: justify

.sectionBlock--dark
	background: #111
	color: #888

.sb__title
	text-transform: uppercase
	text-align: center
	font-size: 28px
	margin: 0
	padding: 0
	color: #ffc600
	height: 200px
	width: 100%
	display: table
	vertical-align: middle	
	font-family: helvetica
	span
		display: table-cell
		vertical-align: middle

.sb__title--careerBg
	background: url("../images/developmentBanner.jpg") no-repeat center center

.sb__title--academyBg
	background: url("../images/studyingBanner.jpg") no-repeat center center

.sb__title--skillsBg
	background: url("../images/skillsBanner.jpg") no-repeat center center
	
.bioBlock	
	line-height: 2
	padding-bottom: 15px
	p
		margin: 0

// --

.companyExperience + .companyExperience
	margin-top: 60px 

// .ce-resume

.ce-titleBlock
	padding-bottom: 14px
	border-bottom: 1px solid #ccc

.ce-companyInfo
	float: left

.ce-title
	margin: 0
	padding: 0
	font-size: 16px

.ce-companyTime
	margin: 0
	padding: 0
	font-size: 12px
	color: #888

.ce-companyLogo
	width: 100px
	height: auto
	float: right

.ce-workWith
	margin: 0

// --

.social-list
	li + li
		margin-left: 15px
	i
		&:before
			font-size: 30px 
	a
		display: inline-block
		color: #888
		transition: color 0.5s
		text-decoration: none
		&:hover
			color: #111

@media screen and (min-width: 768px)

@media screen and (min-width: 992px)

@media screen and (min-width: 1200px)
