

/* ==========================================================================
   Diego Moreira Alves
   ========================================================================== */

.bg-blue{
    background: #0066FF;
}

.site-header{
    background: url("../img/bgHeader.png") repeat-x;
    min-height: 205px; 
}

.page_title{
    text-align: center;
    font-family: "gotham_thinregular";
    font-size: 50px;
    margin: 50px 0 0 0;
    color: #fff;
}

.personal_photo{
    display: block;
    width: 120px;
    height: 120px;
    margin: 22px auto 0 auto;
    border-radius: 50%;
    border: none;
}

.site-skills{
    background: #333333;
    padding: 45px 0 30px 0;
}

.skill-list{
    display: block;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.skill-block{
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: #0066FF;
    box-shadow: 0px 2px 15px #222;
    text-align: center;
    cursor: pointer;
}

.test-section{
    margin-top: 40px;
}

/* ------- transition test -------- */

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    margin: 0 auto 15px auto;           
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 150px;
    height: 150px;
}

/* flip speed goes here */
.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    background: #f00;
    transform: rotateY(180deg);
}